body{
    margin: auto;
    padding: 20px;
    background: rgb(167, 191, 232);
}

#nav {
    list-style: none;
    background: green;
    padding: 10px;
    margin: 0;
    display: flex;
}
#nav li a{
    padding: 8px;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-size: 25px;
}

#nav li a:hover{
    background-color: gray;
    color: rebeccapurple;    
}

.listbody{
    margin: auto 200px;
    padding: 50px 0 50px 300px;
    background: rgba(247, 252, 247, 0.4);
}
h1{
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 50px;
}
h2{
    font-size: 20px;
}
