body{
    margin: auto;
    padding: 20px;
    background: #f5f5fa;
}

#nav {
    list-style: none;
    background: green;
    padding: 10px;
    margin: 0;
    display: flex;
}
#nav li a{
    padding: 8px;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-size: 25px;
    border-radius: 15px;
}

#nav li a:hover{
    background-color: gray;
    color: rebeccapurple;    
}


.listbody{
    margin: auto;
    max-width: 900px;
    padding: 50px 0 50px 30px;
    background: rgba(147, 213, 155, 0.2);;
}
h1{
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 50px;
}
h2{
    font-size: 20px;
}
