body{
    margin: auto 25px;
    padding: auto 10px;    
    background: linear-gradient(300deg,#dbe884,  #0BAB64,#43D2A4);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

#content{
    margin: auto ;
    padding: 0 0 50px 50px;
    background: rgba(247, 252, 247, 0.4);
    box-shadow: 0px 10px 15px 1px #0000001a;
    max-width: 80%;
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
h1,h2,h3{
    color: green;
}

#intro{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
}

.avatar{
    width: 150px;
    border-radius: 45px ;
}

.btn-nav #other{
    margin-top: 50px;
    padding: 8px 16px;
    border-radius: 5px;
    margin-right: 5px;
    background:#3c7363;  
    color: #e8f1fd;
    border: none;  
}

.btn-nav #other:hover{    
    box-shadow: 0 0 2px 2px rgba(60, 115, 99, 0.75);
    cursor: pointer;
}
.school{
    font-weight: bold;
}

p{
    padding: 0 0 0 50px;
}
table,td,th{
    border: 1px solid black;
}

table{
    margin: auto;
}

td,th{
    border-left-width:0 ;
}

thead th{
    font-size: 20px;
    font-weight: bold;
    color:green;
}

tbody th{
    font-weight: normal;
}

.skill table ul{
    list-style: none;
    text-align: left;
    padding: 0 10px 0 10px;
    margin: 0 ;
}

.skill span{
    font-weight: bold ;
}

.other ul li{
    list-style: none;
}

.other ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.other ul li a:hover{
    text-decoration: underline;
    color: red;
}

footer{
    margin-top: 50px;
    padding: auto 50px;
    text-align: center;
}
