body{
    margin: auto;
    padding: 20px;
    background: #f5f5fa;
}

#nav {
    list-style: none;
    background: green;
    padding: 10px;
    margin: 0;
    display: flex;
}
#nav li a{
    padding: 8px;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    font-size: 25px;
    border-radius: 15px;
}

#nav li a:hover{
    background-color: gray;
    color: rebeccapurple;    
}

h2,h3{
    color: green;
}


main{
    margin: 0 auto;
    max-width: 900px;
    padding: 50px 0 50px 30px;
    background: rgba(147, 213, 155, 0.2);
    align-items: center;
}
h1{
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 50px;
}

.header-p{
    text-align: center;
    font-size: 25px;
}

h2{
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: black;
}

ul li a:hover{
    background-color: azure;
}
